<!DOCTYPE html>


<html>
<style>
.example{
background-color: #4678AA;
height:50px;
text-align: center;
}
body{
margin:0px;
padding:0px;
}
.setStyle{
padding-left: 10px;
font-family: Serif;
}
</style>
    <body>
        <h1 class="example">Account create successfully..</h1>
       <p class="setStyle">
       Your User name is:<b><%= name %></b><br>
        Your Email is:<b><%= email %></b><br>
        Your Password is:<b><%= password %></b><br>
        </p>
    </body>
</html>