<!DOCTYPE html>


<html>
<style>
.example{
background-color: #4678AA;
height:50px;
text-align: center;
}
body{
margin:0px;
padding:0px;
}
.setStyle{
padding-left: 10px;
font-family: Serif;
}
</style>
    <body>
        <h1 class="example">User Forget Password link..</h1>
       <p class="setStyle">
       
        Your Email is:<b><%= email %></b><br>
        if you change your Password than traverse this link:<br>
        <a href=<%= link %>><%= link %></a>
        </b><br>
        </p>
    </body>
</html>