<!DOCTYPE html>


<html>
<style>
.example{
background-color: #D17B19;
height:50px;
text-align: center;
}
body{
margin:0px;
padding:0px;
}
.setStyle{
padding-left: 10px;
font-family: Serif;
}
</style>
    <body>
        Welcome ,<b><%= name %></b><br>
        <h1 class="example">To this Festival Offer.....🪔 </h1>
       <p class="setStyle">
        @,<b><%= email %></b><br>
      
        </p>
    </body>
</html>